<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- we passed _csrf token as parameter to /upload route as below -->
    <form action="/upload/?_csrf=<%= csrfToken%>" method='POST' enctype="multipart/form-data">
        <label for="image"> Upload image</label>
        <input type="file" name='image' id='image' accept="image/*">
        <label for="screenshot"> Upload screenshot</label>
        <input type="file" name='screenshot' id='screenshot' accept="image/*" multiple>
        <button type="submit">DONE</button>
    </form>
</body>
</html>